<h1>{{ title }}</h1>
<aside>
  Published on <time datetime="{{ date.canonical}}">{{ date.canonical }}</time>
</aside>

<article>
  {%- autoescape false -%}{{ yocaml_body }}{%- endautoescape -%} {%- if has_bib
  -%}
  <h3>Bibliography</h3>
  <ol class="bibliography">
    {%- for ref in bib -%}
    <li>
      <span class="title"><a href="{{ ref.url }}">{{ ref.title }}</a></span>
      {%- if ref.has_year -%}<span class="date">{{ref.year}}</span>{%- endif -%}
      <ul class="authors">
        {%- for a in ref.authors -%}
        <li>{{ a }}</li>
        {%- endfor -%}
      </ul>
    </li>
    {%- endfor -%}
  </ol>

  {%- endif -%}
</article>
